/*=============================
	Pricing Table CSS
===============================*/
.pricing-table {
    background: $white;
    position: relative;
}

.pricing-table .single-table {
    background: #fff;
    text-align: center;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    padding: 60px 20px;
    box-shadow: 0 10px 30px rgba(111, 111, 111, 0.1);
    overflow: hidden;
}

.pricing-table .single-table .popular {
    color: #fff;
    background: $theme-color;
    display: inline-block;
    padding: 5px 70px;
    position: absolute;
    right: -60px;
    top: 14px;
    font-size: 13px;
    transform: rotate(45deg);
}

/* Table Head */

.pricing-table .single-table .title {
    font-size: 24px;
    font-weight: 500;
}

.pricing-table .single-table .title span {
    display: block;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
    color: #888;
    text-transform: capitalize;
}

.pricing-table .single-table .price {
    height: 120px;
    width: 120px;
    display: inline-block;
    border: 1px dashed $secondary-color;
    border-radius: 50%;
    margin: 20px 0;
}

.pricing-table .single-table .amount {
    position: relative;
    color: #333;
    font-size: 35px;
    display: inline-block;
    margin: 45px 0;
    font-weight: 600;
    line-height: 28px;
}

.pricing-table .single-table .curency {
    color: #555;
    font-size: 17px;
    font-weight: 400;
    position: absolute;
    left: -14px;
    top: -7px;
}

.pricing-table .single-table .duration {
    color: #888;
    font-size: 11px;
    font-weight: 400;
    position: absolute;
    right: -25px;
    bottom: -6px;
}

/* Table List */
.pricing-table .table-list li {
    color: #444;
    margin-bottom: 5px;
    font-size: 14px;
}

.pricing-table .table-list li:last-child {
    margin-bottom: 0;
}

/* Table Bottom */
.pricing-table .button {
    margin-top: 30px;
}

.pricing-table .btn {
    padding: 14px 32px;
    color: #fff;
    border: none;
}

/*=============================
	End Pricing Table CSS
===============================*/